{% extends "plantillaBase.html" %}

{% block jquery %}
<script>
  $( document ).ready(function() {

	// CREACIO DELS CHECKSBOX DELS TRAX
	$.ajax({
		method: "GET",
		url: "/getTraxs",
	})
	.done(function( response ) {
		// console.log("response", response )

		response.forEach(function( obj, index ){ 
			constuirChecks = `
			<div class="input-group input-group-sm mb-1">
				<div class="input-group-prepend ml-3">
					<div class="input-group-text">
						<input type="checkbox" value="${obj.lloc}" aria-label="Checkbox for following text input">
					</div>
				</div>
				<div class="ml-3">${obj.lloc}</div>
			</div>
			`
			if (index < 12){
				$("#checksColumna1").append(constuirChecks)
			} else {
				$("#checksColumna2").append(constuirChecks)
			}
		});
		
	})
	.fail(function( obj, textStatus, error ) {
		console.log( "ERROR al filtrar usuaris", JSON.stringify(error))
	});



	// LLISTAT D'USUARIS i FILTRATGE

	$("#btnBuscar").on("click", function(){
		buscarUsuaris()
	})

	$("#user").on("keypress", function( event ){
		if (event.which == 13) buscarUsuaris()
	})


	const buscarUsuaris = function(){
		$("#formNumero").val("")
		$("#formNom").val("")
		$("#idMongo").html("")
		$("input:checkbox").prop("checked", false)

		$.ajax({
			method: "POST",
			url: "/setFiltre",
			dataType: "json",
			contentType: 'application/json',
			data: JSON.stringify({ txtBuscar: $("#user").val() })
		})
		.done(function( response ) {
			console.log("response", response )
			$("#tableUsers > tbody > tr").remove()
			response.forEach(function( obj ){ 
				constuirTR = `
				<tr id="${ obj["_id"]["$oid"]}">
					<td class="seleccionable">${ obj["numero"] }</td>
					<td class="seleccionable">${ obj["nom"] }</td>
					<td>
						<button class="btn btn-warning btn-sm ml-1 btnEliminar" type="button" >
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				`
				$("#tableUsers > tbody").append(constuirTR)
			});

			// AL CLICAR UN USUARI DE LA LLISTA, OMPLIR DADES DE LA PART DRETA
			$("#tableUsers tbody tr .seleccionable").on("click", function(){ omplirPartDreta(this) })

			// BOTO ELIMINAR USUARI
			$(".btnEliminar").on("click", function(){ eliminarUsuari( this ) })

		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR al filtrar usuaris", JSON.stringify(error))
		});
	}




	// AL CLICAR UN USUARI DE LA LLISTA, OMPLIR DADES DE LA PART DRETA

	$("#tableUsers tbody tr .seleccionable").on("click", function(){ omplirPartDreta(this) })

	const omplirPartDreta = function (aixo){
		// fons en blanc de tots els TRs
		$("#tableUsers tbody tr").css("background-color", "white")
		$(aixo).parent().css("background-color", "lightgreen")
		$("input:checkbox").prop("checked", false)

		$.ajax({
			method: "GET",
			url: "/getUsuari/"+$(aixo).parent().attr("id"),
		})
		.done(function( response ) {
			console.log("response", response.traxs )
			
			$("#formNumero").val( response. numero )
			$("#formNom").val( response.nom )
			$("#idMongo").html( response["_id"]["$oid"])
			response.traxs.forEach( function(trax){
				$("input[type=checkbox][value='"+trax+"']").prop("checked", true)
			})
			
		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR al obtenir dades de l'usuari", JSON.stringify(error))
		});
	}


	// BOTO NOU USUARI
	$("#newUser").on("click", function(){
		$("#tableUsers tbody tr").css("background-color", "white")
		$("#formNumero").val("")
		$("#formNom").val("")
		$("#idMongo").html("")
		$("input:checkbox").prop("checked", false)
	})




	// BOTO GUARDAR
	$("#btnGuardar").on("click", function(){
		console.log( "ESTIC AL BOTO GUARDAR" )

		$.ajax({
			method: ($("#idMongo").html() == "") ? "POST" : "PUT",
			url: ($("#idMongo").html() == "") ? "/newUser" : "/updateUsuari/"+$("#idMongo").html(),
			dataType: "json",
			contentType: 'application/json',
			data: JSON.stringify({ 
				numero: $("#formNumero").val(),
				nom: $("#formNom").val(),
				traxs: function(){
					let arr=[]
					$("input[type='checkbox']").each( function(){
						if ( $(this).prop("checked") == true ) arr.push($(this).val())
					})
					return arr
				}(),
			})
		})
		.done(function( response ) {
			console.log("response", response )
			if (response.accio == "actualitzar"){
				frase = "Dades actualitzades"
			} else {
				$("#idMongo").html(response["resultat"]["_id"]["$oid"])
				frase = "Usuari afegit"
			}

			$("#resultatOperacio")
			.html( frase )
			.css( "color", "white")
			.css( "background-color", "green")
			.css( "font-weight", "bold")
			.fadeTo(3000, 0, function(){
				$("#resultatOperacio")
				.css( "color", "black")
				.css( "background-color", "white")
				.css( "opacity", '1')
				.css( "font-weight", "normal")
				.html( "")
      		})

		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR al GUARDAR DADES USUARI", JSON.stringify(error))
		});
	})



	// BOTO ELIMINAR USUARI
	$(".btnEliminar").on("click", function(){ eliminarUsuari( this ) })

	const eliminarUsuari = function( aixo ){
		console.log( "id a eliminar", $(aixo).parent().parent().attr("id") )

		$.ajax({
			method: "DELETE",
			url: "/deleteUsuari/"+$(aixo).parent().parent().attr("id")
		})
		.done(function( response ) {
			console.log("response", response )
			// $("#idMongo").html("")
			$(aixo).parent().parent().remove("tr")
			
		})
		.fail( function( obj, textStatus, error ) {
			console.log( "ERROR al ELIMINAR USUARI", JSON.stringify(error))
		})

	}


});  
</script>
{% endblock %}


{% block content %}

<div class="row shadow p-3 mb-5 bg-white rounded">
	<div class="col h2">
		USUARIS
	</div>
	<div class="col text-right">
		<a class="btn btn-primary" type="button" href="/getPagTrax">
			Traxs <i class="fa fa-copy"></i>
		</a>
	</div>
</div>


<div class="row mt-4 " style="height: 400px;">
	<div class="col col-4 border-right">
	
		
		<!-- BUSCADOR USUARIS -->
		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1"> <i class="fa fa-user"></i> </span>
			<input id="user" name="user" type="text" class="form-control" placeholder="Nom o numero treballador" aria-label="Username" aria-describedby="basic-addon1">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button" id="btnBuscar">
					<i id="search" class="fa fa-search"></i>
				</button>
				<button class="btn btn-success ml-1" type="button" id="btnBuscar">
					<i id="newUser" class="fa fa-user-plus"></i>
				</button>
			</div>
		</div>

		<!-- TAULA AMB LLISTAT D'USUARIS -->
		<table class="table table-sm" id="tableUsers" style="font-size: 12px; font-family:monospace,'Courier New', Courier">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Núm</th>
					<th scope="col">Nom</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for usuari in usuaris %}
				<tr id="{{ usuari["_id"] }}">
					<td class="seleccionable">{{ usuari["numero"] }}</td>
					<td class="seleccionable">{{ usuari["nom"] }}</td>
					<td>
						<button class="btn btn-warning btn-sm ml-1 btnEliminar" type="button" >
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
			

	</div>



	<div class="col">

		<div class="row mt-4">
			<div class="col-3">

				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1"> # </span>
					<input id="formNumero" name="formNumero" type="text" class="form-control" placeholder="Número" aria-label="Username" aria-describedby="basic-addon1">
				</div>
						
			</div>
			<div class="col">
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1"> <i class="fa fa-user"></i> </span>
					<input id="formNom" name="formNom" type="text" class="form-control" placeholder="Nom" aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col-auto">
				<button class="btn btn-warning" type="button" id="btnGuardar">
					<i id="search" class="fa fa-save"></i>
				</button>
			</div>
		</div>




		<div class="row mb-5">
			<div class="col" style="font-family: 'Courier New', Courier, monospace; font-size:12px">
				MongoId: <span id="idMongo" class="text-danger"></span>
			</div>
			<div class="col-auto text-right">
				<span id="resultatOperacio" class="p-2 rounded"></span>
			</div>

		</div>
		
		
		


		<div class="row">
			<div class="col" id="checksColumna1"></div>
			<div class="col" id="checksColumna2"></div>
		</div>
		
	</div>
</div>			



{% endblock %}




