

# carpeta per a virtualització d'entorn
/entvirt/

# fitxer secret
.env

#ignorar fitxers csv
*.csv

# excepte següents fitxers csv
!proves.csv


# carpetes i fitxers varios
Cache/
CachedData/
CachedExtensionVSIXs/
CachedProfilesData/
Code Cache/
Cookies
Cookies-journal
Crashpad/
DawnGraphiteCache/
DawnWebGPUCache/
Dictionaries/
GPUCache/
Local Storage/
Network Persistent State
Preferences
Service Worker/
Session Storage/
Shared Dictionary/
SharedStorage
SharedStorage-wal
TransportSecurity
Trust Tokens
Trust Tokens-journal
User/
WebStorage/
code.lock
languagepacks.json
logs/
machineid
DIPS
DIPS-wal
CachedConfigurations/





# carpetes __pycache__
/**/__pycache__/

# Flask stuff:
instance/
.webassets-cache

