{% extends "plantillaBase.html" %}

{% block jquery %}
<!-- Socket io -->
<script src={{ url_for('static', filename='../static/js/socket.io.min.js') }}></script>

<script>
  $( document ).ready(function() {
    
    console.log("document Llistat Info Estacions preparat")
    $("section").removeClass("container").addClass("container-fluid")

    const socket = io();
    console.log("socket 1:\n", socket)

    let comptadorIPs = 0
    let totalIPs = 0
    let comptadorRegistres = 0
    let dataInici, dataFinal 

        
    socket.on('connect', () => {
        $("#btnStart").on( "click", function() {
            dataInici= new Date()

            console.log("rangsIPCDIR", $("#rangIPs").val())
            $("#taulaLlistat tbody tr").remove('tr')

            console.log("socket 2:\n", socket)
            console.log('✅ ¡Conexión exitosa con el servidor! ID de socket:', socket.id);
            console.log( socket.emit('arranca_proces_info_estacions', $("#rangIPs").val()) );
            
            console.log("S'hauria d'haver executat el EMIT")
            comptadorIPs = 0
            comptadorRegistres=0
            
            $("#progres").css("width", "2em")
            .attr("aria-valuenow", "0%")
            .text("(0 / 0) 0%")
            .removeClass("bg-success")
            .addClass( "progress-bar-animated progress-bar-striped");
            
            $("#comptador").html( `${comptadorRegistres}` )
                
        })
    });
            




    socket.on("infoTotalIPs", function(getTotalIPs){
        totalIPs = getTotalIPs
    })

    socket.on('recepcioDades', function(arr) {
        // console.log("dadesRebudes", arr )
        if (arr != ""){
            const construccioTR = `
            <tr>
                <td scope="col">${arr[0]}</td>
                <td scope="col">${arr[1]}</td>
                <td scope="col">${arr[2]}</td>
                <td scope="col">${arr[3]}</td>
                <td scope="col">${arr[4]}</td>
                <td scope="col">${arr[5]}</td>
                <td scope="col">${arr[6]}</td>
                <td scope="col">${arr[7]}</td>
                <td scope="col">${arr[8]}</td>
                <td scope="col">${arr[9]}</td>
                <td scope="col">${arr[10]}</td>
            </tr>
            `

            $("#taulaLlistat tbody").prepend( construccioTR )

            $("#taulaLlistat tbody tr:first")
            .css( "background-color", "lightgreen")
            .animate({ "background-color": "white"},500)

            comptadorRegistres += 1
        }

        comptadorIPs +=1
        
        
        // $("#progres").attr( "aria-valuenow", comptadorIPs.toString() )
        let percentatge = Math.round(comptadorIPs / totalIPs * 100, 2) +"%"; 
        // $("#progres").html( percentatge )
        // console.log( percentatge )
        
        $("#comptador").html( comptadorRegistres )
        $("#progres").css("width", percentatge).attr("aria-valuenow", percentatge).text(`(${comptadorIPs} / ${totalIPs}) ${percentatge}`);
        // console.log( `${comptadorIPs} / ${totalIPs}` )

        if (totalIPs == comptadorIPs){
            dataFinal = new Date()
            // console.log( "DataInici:", dataInici )
            // console.log( "DataFinal:", dataFinal )
            difTemps = diferenciaTemps( dataInici, dataFinal)
            $("#progres")
            .text("FINAL! en " + difTemps)
            .removeClass( "progress-bar-animated progress-bar-striped" )
            .addClass("bg-success");
        }
        

    })



    // socket.on('connect', () => {
    //     console.log('✅ ¡Conexión exitosa con el servidor! ID de socket:', socket.id);
    // });


    socket.on('connect_error', (err) => {
        console.error('❌ Error de conexión:', err);
    });

    
    const diferenciaTemps = function( d1, d2){
        console.log("Estic a la funcio DIFERENCIATEMPS!!", d1, d2 )

        const diferenciaMs = d2 - d1;
        console.log( "diferenciaMS:", diferenciaMs )

        const segonsTotals = Math.floor(diferenciaMs / 1000)
        console.log( "\nsegonsTotals:" , segonsTotals )

        const minutsTotals = Math.floor(segonsTotals / 60);
        console.log( "\nminutsTotals:" , minutsTotals )
        const segonsRestants = segonsTotals % 60
        console.log("segonsRestants:", segonsRestants)

        const horesTotals = Math.floor( minutsTotals / 60)
        console.log("\nhoresTotals:", horesTotals)
        const minutsRestants = horesTotals % 60
        console.log("minutsRestants:", minutsRestants)


        const resultado = [
            horesTotals.toString().padStart(2,"0"),
            minutsTotals.toString().padStart(2,"0"),
            segonsRestants.toString().padStart(2,"0"),
        ].join(":");

        console.log("resultado:", resultado)
        return resultado        
    }


  });  
</script>
{% endblock %}


{% block content %}

<!-- IP O HOSTNAME -->
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
    <i id="vnc" class="fa fa-desktop"></i>
    </span>
    <input id="rangIPs" value="192.168.8.0/24" type="text" class="form-control" placeholder="Rang IPs format CIDR" style="max-width: 200px">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="btnStart">Start</button>
    </div>
</div>


<div>Estacions trobades: <span id="comptador"></span> </div>
<div class="progress">
    <div id="progres"class="progress-bar progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
        (0 / 0) 0%
    </div>
</div>


<div>
    <table class="table table-sm table-bordered" id="taulaLlistat" style="font-size: 12px; font-family:monospace,'Courier New', Courier">
        <thead class="thead-dark">
            <tr>
                <th scope="col">target</th>
                <th scope="col">ServidorNFS</th>
                <th scope="col">Hostname</th>
                <th scope="col">Usuari</th>
                <th scope="col">Model</th>
                <!-- <th scope="col">NS_CPU</th> -->
                <th scope="col">NS_Monit</th>
                <!-- <th scope="col">srvNFS</th> -->
                <th scope="col">mac</th>
                <th scope="col">Speed</th>
                <th scope="col">paquets</th>
                <th scope="col">Connectat a</th>
                <th scope="col">Port</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


{% endblock %}


