{% extends "plantillaBase.html" %}

{% block jquery %}
<!-- Socket io -->
<script src={{ url_for('static', filename='../static/js/socket.io.min.js') }}></script>

<script>
  $( document ).ready(function() {
    console.log("document Llistat Info Estacions preparat")
    $("section").removeClass("container").addClass("container-fluid")

    const socket = io();

    let comptadorIPs = 0
    let totalIPs = 0

    $("#btnStart").on( "click", function() {
        console.log("rangsIPCDIR", $("#rangIPs").val())
        $("#taulaLlistat tbody tr").remove('tr')
        socket.emit('arranca_processos', $("#rangIPs").val());
        comptadorIPs = 0
        $("#progres").css("width", "0%").attr("aria-valuenow", "0%").text("0%");
        $("#comptador").html( `${comptadorIPs} / ${totalIPs}` )
    })




    socket.on('connect', function(){
        socket.on("infoTotalIPs", function(getTotalIPs){
            totalIPs = getTotalIPs
        })
    
        socket.on('recepcioDades', function(arr) {
            console.log("dadesRebudes", arr )
            if (arr != ""){
                const construccioTR = `
                <tr>
                    <td scope="col">${arr[0]}</td>
                    <td scope="col">${arr[1]}</td>
                    <td scope="col">${arr[2]}</td>
                    <td scope="col">${arr[3]}</td>
                    <td scope="col">${arr[4]}</td>
                    <td scope="col">${arr[5]}</td>
                    <td scope="col">${arr[6]}</td>
                    <td scope="col">${arr[7]}</td>
                    <td scope="col">${arr[8]}</td>
                    <td scope="col">${arr[9]}</td>
                    <td scope="col">${arr[10]}</td>
                    <td scope="col">${arr[11]}</td>
                </tr>
                `
    
                $("#taulaLlistat tbody").prepend( construccioTR )
    
                $("#taulaLlistat tbody tr:first")
                .css( "background-color", "lightgreen")
                .animate({ "background-color": "white"},2000)
            }

            comptadorIPs +=1
            // $("#progres").attr( "aria-valuenow", comptadorIPs.toString() )
            let percentatge = Math.round(comptadorIPs / totalIPs * 100, 2) +"%"; 
            // $("#progres").html( percentatge )
            console.log( percentatge )

            $("#comptador").html( `${comptadorIPs} / ${totalIPs}` )
            $("#progres").css("width", percentatge).attr("aria-valuenow", percentatge).text(percentatge);
            // console.log( `${comptadorIPs} / ${totalIPs}` )
        })

    })


  });  
</script>
{% endblock %}


{% block content %}

<!-- IP O HOSTNAME -->
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
    <i id="vnc" class="fa fa-desktop"></i>
    </span>
    <input id="rangIPs" value="192.168.8.0/24" type="text" class="form-control" placeholder="Rang IPs format CIDR" style="max-width: 200px">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="btnStart">Start</button>
    </div>
</div>


<div id="comptador"></div>
<div class="progress">
    <div id="progres"class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
        0%
    </div>
</div>


<div>
    <table class="table table-sm table-bordered" id="taulaLlistat" style="font-size: 12px; font-family:monospace,'Courier New', Courier">
        <thead class="thead-dark">
            <tr>
                <th scope="col">target</th>
                <th scope="col">nom</th>
                <th scope="col">usuari</th>
                <th scope="col">model</th>
                <th scope="col">NSerie</th>
                <th scope="col">Ns_Monit</th>
                <th scope="col">ip</th>
                <th scope="col">mac</th>
                <th scope="col">speed</th>
                <th scope="col">paquets</th>
                <th scope="col">Connectat a</th>
                <th scope="col">Port</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


{% endblock %}


