{% extends "plantillaBase.html" %}

{% block jquery %}
<!-- Socket io -->

<script>
  $( document ).ready(function() {
    
    console.log("document marcadors preparat")
    $("section").removeClass("container").addClass("container-fluid")



    carregaBookmarksDefecte = function () {
        $.ajax({
			method: "GET",
			url: "/carregarBookmarksDefecte",
		})
		.done(function( response ) {
            console.log("response", response)
            // response.textBookmarkDefecte = response.textBookmarkDefecte.replace('\n', '<br/><br/>')
            // response.textBookmarkDefecte = response.textBookmarkDefecte.replace(' ', '&nbsp;')
			$("#txtBookmarks").html( response )

		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR", JSON.stringify(error))
			$("#txtBookmarks").html( JSON.stringify(error) )
			// alert( "HI HA HAGUT UN ERROR: " + textStatus );
		});

    }()



    $("#btnGetMarcadors").on("click", function(){
		
        // if ( $("#hostname").val().length == 0 ){
		// 	$("#textAreaMarcadors").html( "Falta informar hostname / IP" )
		// 	return
		// }        
        
        if ( $("#user").val().length == 0 ){
			$("#textAreaMarcadors").html( "Falta informar user" )
			return
		}        
        
        
        $.ajax({
			method: "POST",
			url: "/getInfoMarcadors",
			dataType: "json",
			contentType: 'application/json',
			data: JSON.stringify({ user: $("#user").val() })
		})
		.done(function( response ) {
            console.log("response", response)
            // response.missatge = response.missatge.replace('\n', '<br/><br/>')
            // response.missatge = response.missatge.replace(' ', '&nbsp;')
            console.log("TEXT DE RESPOSTA", response.missatge )
			$("#textAreaMarcadors").html( response.missatge )

		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR", JSON.stringify(error))
			$("#textAreaMarcadors").html( JSON.stringify(error) )
			// alert( "HI HA HAGUT UN ERROR: " + textStatus );
		});

    })





    $("#btnUpdateMarcadors").on("click", function(){
		
        if ( $("#textAreaMarcadors").val().length == 0 ){
			$("#resultat").html( "No s'ha fet res. No hi ha contingut" )
			return
		}        
      
        $.ajax({
			method: "POST",
			url: "/getUpdateMarcadors",
			dataType: "json",
			contentType: 'application/json',
			data: JSON.stringify({ 
                user: $("#user").val(), 
                // host: $("#hostname").val(),
                contingut: $("#textAreaMarcadors").val()
            })
		})
		.done(function( response ) {
            console.log("response", response)
            // response.missatge = response.missatge.replace('\n', '<br/><br/>')
            // response.missatge = response.missatge.replace(' ', '&nbsp;')
			$("#textAreaMarcadors").html( response.missatge )

		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR", JSON.stringify(error))
			$("#textAreaMarcadors").html( JSON.stringify(error) )
			// alert( "HI HA HAGUT UN ERROR: " + textStatus );
		});

    })




    $("#btnCreateMarcadors").on("click", function(){
		
        if ( $("#user").val().length == 0 ){
			$("#resultat").html( "No s'ha especificat l'usuari" )
			return
		}        
      
        $.ajax({
			method: "POST",
			url: "/postCreateMarcadors",
			dataType: "json",
			contentType: 'application/json',
			data: JSON.stringify({ user: $("#user").val() })
		})
		.done(function( response ) {
            console.log("response", response)
            // response.missatge = response.missatge.replace('\n', '<br/><br/>')
            // response.missatge = response.missatge.replace(' ', '&nbsp;')
			$("#resultat").html( response.missatge )

		})
		.fail(function( obj, textStatus, error ) {
			console.log( "ERROR", JSON.stringify(error))
			$("#resultat").html( JSON.stringify(error) )
			// alert( "HI HA HAGUT UN ERROR: " + textStatus );
		});

    })






  });  
</script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col">
        <div>
            EXEMPLE DE MARCADORS DE CHROME
        </div>
        <div>
            Ubicació fitxer Bookmark: <span class="text-danger">/export/home/(user)/.config/google-chrome/Default/Bookmarks</span>
        </div>

        <pre id="txtBookmarks">
         </pre>
    </div>

    <div class="col">

        <!-- IP O HOSTNAME -->
        <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-desktop"></i>
            </span>
            <input id="hostname" type="text" class="form-control mr-2" placeholder="hostname / IP" style="max-width: 200px"> -->

            <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-user"></i>
            </span>
            <input id="user" type="text" class="form-control mr-2" placeholder="user" style="max-width: 200px">

            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btnGetMarcadors">get marcadors</button>
            </div>
        </div>




        <div class="mt-3">
            <label for="exampleFormControlTextarea1" class="form-label">Marcadors:</label>
            <textarea class="form-control" id="textAreaMarcadors" rows="25"></textarea>
        </div>


        <div class="input-group-append p-2">
            <button class="btn btn-primary" type="button" id="btnUpdateMarcadors" >modificar marcadors</button>
            <button class="btn btn-primary ml-2" type="button" id="btnCreateMarcadors" >Crear marcadors</button>
        </div>
        <div id="resultat">

        </div>

    </div>
</div>





{% endblock %}
