{% extends "plantillaBase.html" %}

{% block jquery %}
<script>
  $( document ).ready(function() {
	console.log("Estic a menu.html")
  });  
</script>
{% endblock %}


{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='estilsMenu.css') }}>

<div class="row justify-content-md-center">
  <div class="col recuadre">
    <a type="button" class="btn btn-warning" href="/pings">
      <div style="font-size:30px; vertical-align: middle;">
		  <i class="fa fa-podcast"></i>
		  <span>PINGS</span> 
      </div>
      
    </a>
  </div>
  <div class="col recuadre">
    <a type="button" class="btn btn-warning" href="/perfilsNFS">
      <i class="fa fa-user"></i>
      Eliminar perfils NFS
    </a>
  </div>
</div>




{% endblock %}




